pkgbase = joycode-git
	pkgdesc = Управление Claude Code с игрового геймпада: push-to-talk, биндинги, аккорды
	pkgver = r3.6dab493
	pkgrel = 1
	url = https://github.com/Fugguri/joycode
	install = joycode.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cargo
	makedepends = librsvg
	depends = glibc
	depends = gcc-libs
	depends = systemd-libs
	depends = libxkbcommon
	depends = wayland
	depends = libglvnd
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxrandr
	depends = hicolor-icon-theme
	optdepends = ttf-hack: моноширинный шрифт интерфейса (иначе фолбэк на Noto/DejaVu Mono)
	provides = joycode
	conflicts = joycode
	source = joycode::git+https://github.com/Fugguri/joycode.git
	sha256sums = SKIP

pkgname = joycode-git
